hover {background: linear-gradient(to bottom, rgb(202, 228, 254) 0%, rgb(125, 185, 247) 44%, rgb(192, 242, 255) 89%, rgb(219, 255, 255) 100%);}

.button-normal {
	background-image: linear-gradient(to bottom, #ffffff, #fdfcfd 10%, #efeeee 31%, #e4e4e4 36%, #ffffff);
}
.button-hover {
	background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 5%, #84befa 47%, #dbffff);
}

.button-push {
	background-image: linear-gradient(to bottom, #cae4fe, #cae4fe 5%, #84befa 47%, #dbffff);
}
.button-ins {
	background-image: linear-gradient(to bottom, #f4f4f4, #000000 5%, #000000 42%, #e7e7e7 47%, #f4f4f4);
}

