.tab {
	background-image: linear-gradient(to bottom, #f9f9f9, #f7f7f7 15%, #e9e9e9 52%, #ffffff);
}
.tab-active {
	background-image: linear-gradient(to bottom, #cce7ff, #a4d0fd 33%, #7bbbfb 38%, #83c1ff 50%, #d7ffff);
}
